#entry-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#submit-btn {
  color: white;
  background-color: var(--primary-dark);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

#submit-btn:hover {
  cursor: pointer;
}

article {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

td {
  padding: 0.5em 1em;
}