#home-page>header {
  justify-content: center;
}

main {
  width: 80%;
}

form {
  width: 30%;
  padding: 1em;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 0 3px black;
}

form input {
  width: 100%;
}

input[type="submit"] {
  font-weight: 400;
  padding: 0.5em 0;
  background-color: var(--primary-dark);
}

header a {
  outline: none;
  color: black;
  text-decoration: none;
}

form p {
  font-size: 0.7em;
}